#page-banner {
    background-color: #eee;
    padding: 10px 0;
}

#page-banner h1,
#page-banner p {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

li {
    width: 40%;
    margin: auto;
    padding: 0%;
    flex: content;
    max-width: 40px;
}


/* .product_cart {

    padding: 100px;
    margin: ;
} */

#page-banner input {
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}